#Project_Properties_body{
	height: auto;
    padding-bottom: 0px;
    margin-bottom: 5px;
    padding-top: 5px;
    margin-top: 0px;
	width: 400px;
	padding-left: 30px;
	padding-right: 30px;	
}

#Project_Properties_body:hover {
	box-shadow: 0 2px 5px 0 rgba(146,170,187,.3), inset 0 2px 0 #fff;
}

.profile-picture {
	border-radius: 50%;
	height: 70px;
	width: 70px;
	padding: 5px;
}

.person-name {
	font-weight: bold;
	font-size: 18px;
	color: #da243b;
}

.person-title {
  color: gray;
	font-weight: bold;
}


.modal-sm {
	min-width: 380px!important;
}
.profile-modal-picture {
	border-radius: 50%;
	height: 80px;
	width: 80px;
	padding: 5px;
}

.person-modal-name {
	font-weight: bold;
	font-size: 22px;
	color: #da243b;
}

.person-modal-title {
  color: gray;
  font-weight: bold;
  font-size: 14px;
}

.project-members-left-cell-m {
	display: table-cell;
	vertical-align: top;
	padding-bottom: 10px;
}

.project-members-right-cell-m {
	display: table-cell;
	padding-bottom: 10px;
	padding-left: 15px;
}

.project-members-left-cell {
	display: table-cell;
	width: 28.2%;
	vertical-align: top;
	padding-bottom: 10px;
}

.person-description {
	font-size: 12px;
}

.project-members-right-cell {
	display: table-cell;
	padding-bottom: 10px;
	padding-left: 10px;	
}

.project-members-row:not(:first-child) {
  margin-top: 12px;
}
.project-members-block {
    padding-left: 0px;
    display: table;
}
.project-members-row {
	display: table-row;
	cursor: pointer;
}

hr.divider-right {
	width: 400px;
    margin-left: 0px;
}

.modal-dialog {
	position: absolute!important;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) !important;
}
