.news-title-left {
    
    color: blue;
    float: right;
    font-size: 18pt;
    text-transform: uppercase;
}

#contentBox {
    padding-top: 0px!important;
}

span.ms-navedit-flyoutArrow {
    background-image: none!important;
}

.divider {
    width: 85%;
    float: left;
}


.news-title-container {
    width: 100%;
    display: inline-block;
}
.news-item {
    width: 100%;
    min-height: 120px;
    max-height: 150px;
    margin-bottom: 15px;
}

.news-date {
    float: left;
    width: 80px;
    text-align: center;
    background-position-x: center;
    background-image: url("News-calendar.png");
    background-repeat: no-repeat;
    height: 80px;
}

.news-info {
    float: right;
    width: 85%;
}

.news-header {
    font-size: 13pt;
    font-weight: 700;

}

.news-item {
    display: table;
}

.news-desc {
    font-size: 11pt;
    position: relative;
    line-height: 20px;
}

.b-morelines_section_ellipsis:after {    
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75%;
    height: 25px;    
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 65%);
  } 

.b-morelines_section_button {
    padding-right: 0px;
    margin-right: 0px;
    color: gray;
    cursor: pointer;
    text-align: right;
    width: 100%;
  }

/*
.news-desc:after {
    position: absolute;
    bottom: -5px;  
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to top,
       rgba(255,255,255, 1) 20%, 
       rgba(255,255,255, 0) 80%
    );
    pointer-events: none; /* so the text is still selectable */
/*  } 
*/

.news-actions {
    float: right;
}

.news-actions a {
    color: gray;
}

.month {
    color:white;
    text-transform: uppercase;
    font-size: 9px;
    font-family: helvetica;
}

.weekday {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}

.day { 
    font-size: 24pt;
    font-weight: 600;
    font-family: Arial Black;
    position: relative;
    top: -7px;
}

#all-news {    
    margin-right: 0px;
    margin-left: 24px;
}

.SelectList {
    text-align: center
}