@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';


.dhcf_feedback_panel {
    height: 100%;
    margin-top: 40px;        
}

.this_rating {
    margin-bottom: 40px;
}

