@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.dhcfNotices {
  
    max-width: 500px;
    margin: 0px auto;
    float: left;
    



.announcementsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #fff;
    margin-bottom: 13px;
    padding: 6px 15px 1px;
    list-style: none;
}
.announcementsList li {
    display: flex;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.announcementIcon {
    display: block;
    width: 50px;
    max-height: 50px;
    padding: 30px 0px;
    border-radius: 4px;
    text-align: center;
    color: #7a8995;
    line-height: 1.2;
    padding-top: 0px;
}

.announcementIcon > img {
    width: 50px;
    max-height: 50px;
}

.txt {
    padding: 0px 30px 0 23px;
}

.txt > h4 {
    padding-top: 0px;
    font-weight: 600;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.txt > p {
    margin: 0px;
}

  
}