div[class^='right_panel_'] {
  padding-left: 10px!important;
  margin-left: 420px;
  border-radius: 2px;
  background-color: white;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15), inset 0 -1px 0 0 rgba(0,0,0,0.2), inset 0 4px 0 saddlebrown;
  padding-top: 20px;   
}

div[class^='left_panel_'] {
    display: block;
	float: left;
	width: 370px;
	border: 0px;
	border-style: solid;
	border-color: lightgray;
	border-radius: 2px;
	background-color: white;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15), inset 0 -1px 0 0 rgba(0,0,0,0.2), inset 0 4px 0 saddlebrown; 
}



.CanvasZoneContainer {
	background-color: #f4f4f4;
}

.ms-SearchBox-iconContainer{
	background-color: white;
}

div[class^='ms-SearchBox'] {
	background-color: white;	
	border-radius: 2px;
	margin-right: 10px;
	
}



#Topics123 {
	margin-right: 20px;
	margin-left: 0px;
	padding-left: 30px;
	padding-top: 2px;
	margin-bottom: 5px;
}

#Subtopics123 {
	margin-right: 20px;
	margin-left: 0px;
	padding-left: 30px;
	padding-top: 2px;
	margin-bottom: 5px;
}

#Topics123 > div {
	height: 30px;
}

#Subtopics123 > div {
	height: 30px;
}

.ms-Checkbox-text {
	padding-left: 10px;
}

.ms-Checkbox-checkbox {
	  border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 3px;
    transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
	  
}



#Subtopics123 > h3 {
	color: #05458d;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 25px;
	margin-top: 10px;
	transition: height 200ms ease-in;
	
}

#Topics123 > h3 {
	color: #05458d;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 25px;
	margin-top: 10px;
}


.Question > h2 {
	color: rgb(0, 78, 140);
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}



.ms-Toggle-label {
	display: inline-flex;
	font-weight: 700;
}

/* div.ms-Toggle {
	padding: 20px 30px;
	padding-bottom: 0px;
} */




.selectAlltopics {

	padding: 20px 30px;
}

.ms-Toggle-innerContainer {
	float: right!important;
	padding-top: 5px!important;
}

.svg-inline--fa {
	width: 25px!important;
}

.Answer {
	padding-left: 40px;
	padding-right: 40px;

}

.devider {
    border-bottom: 1px solid lightgray;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 20px;
}

.VoteDown {
    display: inline-block;
    color: darkred!important;
    padding-left: 5px;
    cursor: pointer;
}

.VoteUp {
    display: inline-block;
    color: darkgreen!important;
    padding-left: 5px;
    cursor: pointer;
}

div.FeedBack {
    color: gray;
}

div.AnswerVotes {
    padding-top: 10px;
}